.column {
  width: 300px;
  float: left;
  margin: 12px;
  border: 2px solid blue;
  padding: 4px;
  background-color: lightblue;
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
img{
  height: 100px;
  width: 150px;
}

h2 {
  text-align: center;
}